node_modules/
.env
coverage/
dist/
build/
*.log
.DS_Store
.vscode/
.idea/
**/.terraform/
**/.terragrunt-cache/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.aws/
.terraform.lock.hcl

